<div id="fullCalendar"></div>

<script>
	$(function(){
    // Default options for fullCalendar goes here
    default_options = {
      locale: 'it',
      lang: 'it',
      header: {
        left: 'basicDay,basicWeek,month',
        center: 'title',
        right: 'prev,today,next'
      },
      eventRender: function( event, element, view ){
        element.html(element.html() + event.description)
        element.qtip({
          content: event.tooltip,
          style: {
            classes: 'qtip-shadow'
          }
        });
      },
      events: <%= events.to_json.html_safe %>
    };

    $('div#fullCalendar').fullCalendar($.extend(default_options, <%=options%>));
  });
</script>
